.js .grid-container.animais {
    height: 650px;
}

.animais-descricao {
    grid-column: 3/-1;
    margin-left: 3rem;
}

.animais-imagens {
    grid-column: 2/3;
    height: 37rem;
    overflow-y: scroll;
}

.animais-imagens li {
    cursor: pointer;
}

.animais-imagens::-webkit-scrollbar {
    width: 1.8rem;
}

.animais-imagens::-webkit-scrollbar-thumb {
    background: #fb5;
    margin-left: 0.5rem;
    border-left: 0.5rem solid #faf6ed;
}

.animais-imagens::-webkit-scrollbar-track {
    background-color: #e6e0d4;
    border-left: 0.5rem solid #faf6ed;
}

.js .animais-descricao section {
    display: none;
    animation: show .6s forwards;
}

.js .animais-descricao section.ativo {
    display: block;
}

.animais-descricao h2 {
    font-family: 'IBM Plex Mono', monospace;
    color: #ee5544;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1.6rem;
}

.animais-descricao h2::before {
    content: "";
    display: inline-block;
    width: 4rem;
    height: 1rem;
    margin-right: 0.8rem;
    background-color: #fb5;
}

.animais-descricao p {
    font-size: 16px;
    margin-bottom: 1.6rem;
}

@media(max-width:70rem) {
    .animais-imagens {
        grid-column: 1;
    }

    .js .grid-container.animais {
        height: 460px;
        margin-bottom: 40px;
    }

    .animais-descricao {
        grid-column: 2;
    }
}

@media(max-width:630px) {
    .grid-container.animais {
        grid-template-columns: 1fr;
        height: auto;
        gap: 30px;
    }

    .animais-imagens {
        justify-self: center;
        max-width: 300px;
    }

    .animais-descricao {
        grid-column: 1;
        margin-left: 0;
        margin-bottom: 30px;
        margin-top: 36px;
    }
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}