.perguntas-faq {
  grid-column: 2/4;
  margin-top: 3rem;
  margin-bottom: 8rem;
  width: 100%;
}

dt {
  font-family: 'IBM Plex Mono', monospace;
  color: #ee5544;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  padding-bottom: 16px;
  border-bottom: 2px solid #edb3ad4f;
}

dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 8px;
  background-color: #fb5;
}
dt::after{
  content: "";
  display: inline-block;
  background-image: url(../img/seta.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 20px;
  position: absolute;
  top: 3px;
  right: 0;
  transition: transform .7s;
}
dd {
  font-size: 16px;
  margin-left: 2.8rem;
  transition: 1s ease-out;
}

.js dd {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s;
}
.js dt.ativo::after{
transform: rotate(-90deg);
}
.js dd.ativo {
  max-height:110px;
}

dd:not(:last-child) {
  margin-bottom: 3.2rem;
}

@media(max-width:70rem) {
  .perguntas-faq {
    grid-column: 1/-1;
  }
}

@media(max-width:630px) {
  .perguntas-faq {
    margin-bottom: 4rem;
  }
}
