@import url(./reset.css);
@import url(./animais.css);
@import url(./faq.css);
@import url(./contato.css);
@import url(./footer.css);
@import url(./modal.css);
@import url(./tooltip.css);
@import url(./dropdown.css);
@import url(./numeros.css);

:root {
    font-size: 62.5%;
}

body {
    background-color: #faf6ed;
    color: #222;
    display: grid;
    grid-template-columns: 1fr 12rem minmax(30rem, 80rem) 1fr;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    grid-column: 3/-1;
    margin-block: 3.2rem;
    background-color: #fb5;
    margin-left: 12px;
}

.menu {
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

.menu li a,
.btn-menu a {
    display: block;
    padding: 1rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: 0.1em;
}

.btn-menu {
    display: none;
}
.menu-mobile {
    position: fixed;
    left: 0;
    opacity: 0;
    transition: all 0.4s;
    pointer-events: none;
    width: 100vh;
    height: 100vh;
    background-color: rgba(34, 34, 34, 0.59);
    z-index: 4;
}
.menu-mobile.ativo {
    opacity: 1;
    pointer-events: all;
}

.menu-mobile.ativo .menu {
    animation: fade-left .6s forwards;
    position: absolute;
    z-index: 5;
    padding-top: 20px;
    padding-inline: 30px;
    transform: translateX(0px);
    max-width: 260px;
    width: 100%;
    height: 100vh;
    left: 0;
    display: block;
    background-color: rgb(231, 161, 57);
}

.menu-mobile.ativo .menu li a {
    font-size: 20px;
}

.grid-container {
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 120px 30rem 2fr;
    width: 100%;
    padding-inline: 2.2rem;
}

.titulo {
    grid-column: 1/-1;
    font-family: "Playfair Display SC", georgia;
    font-size: 9.6rem;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 9rem;
}

.js .js-scroll {
    opacity: 0;
    transition: opacity 0.8s;
}

.js .js-scroll.ativo {
    opacity: 1;
    animation: jsScroll 0.6s forwards;
}

@media (max-width: 70rem) {
    header {
        grid-column: 1/-1;
        margin-left: 0;
        margin-top: 0;
    }

    .titulo {
        font-size: 4.8rem;
        margin-bottom: 30px;
    }

    .grid-container {
        grid-template-columns: 1fr 2fr;
    }
}

@media (max-width: 600px) {
    .menu {
        display: none;
    }

    .btn-menu {
        display: inline-block;
        padding: 1rem;
    }

    nav {
        display: flex;
        justify-content: flex-end;
    }
}

@keyframes jsScroll {
    from {
        transform: translateY(-30px);
    }

    to {
        transform: translateY(0px);
    }
}
@keyframes fade-left {
    from {
        transform: translateX(-60px);
    }

    to {
        transform: translateX(0px);
    }
}
